<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="A place for some cool projects worth sharing. Feel free to check them out, and maybe leave a suggestion or two.">
<meta name="robots" content="noimageindex">
<meta property="og:title" content="Projects | Param"/>
<meta property="og:description" content="A place for some cool projects worth sharing."/>
<meta property="og:image" content="https://yt3.ggpht.com/-q1rEVnN3cRM/AAAAAAAAAAI/AAAAAAAAAAA/P8AsrXZCh1w/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" />
