:root{
  --foreground-color: #191919;
  --hover-color: #292929;
}

*{
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #932524;
}

#transition-overlay{
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  opacity: 0;
  z-index: -1;
  transition: opacity 1.1s;
}

h1, h2, h3, p, #arrow{
  color: white;
}

h1{
  font-size: 5em;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 1.5em;
  margin-bottom: 2vh;
  font-weight: 100;
  color: #dbdbdb;
}

p{
  font-size: 1.5em;
}

.light{
  color: #a5a5a5;
  margin: 5px 0 10px 0;
}

a{
  color: #4589f7;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover{
  color: white;
}

.tcontent:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}

html, body, .container{
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content{
  width: 100%;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  font-family: 'Open Sans';
  font-size: 1.3em;
  text-decoration: none;
}

.content a{
  color: white;
}

.content a:hover{
  color: #4589f7;
}

@media only screen and (max-width: 700px){
  h1{
    font-size: 4.5em;
  }

  h2{
    font-size: 2.5em;
  }

  h3{
    font-size: 1.2em;
  }

  p:not(.content>p){
    font-size: 1.2em;
  }

  .icons a{
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px){
  h1{
    font-size: 4em;
  }
}

@media only screen and (max-width: 480px){
  h1{
    font-size: 2.8em;
  }

  h2{
    font-size: 2em;
  }

  h3{
    font-size: 1.3em;
  }

  p{
    font-size: 1.2em;
  }
}


/* Project Timeline */
* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--foreground-color);
  top: 25px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.tcontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.tcontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #1e1e1e;
  top: 23px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--foreground-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--foreground-color);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--foreground-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--foreground-color) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.tcontent {
  padding: 20px 30px;
  background-color: var(--foreground-color);
  position: relative;
  border-radius: 15px;
  margin-bottom: 60px;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .tcontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .tcontainer::before {
    left: 60px;
    border: medium solid var(--foreground-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--foreground-color) transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
